<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    -->
    <ion-menu-button color="primary"></ion-menu-button>
            
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
            
    </ion-buttons>

    <ion-title>start</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pane"> 

  <ion-list #lista >
  <ion-item-sliding *ngFor="let code of dataLocal.guardados; let i = index " > 
  <ion-item >
  <ion-label> {{ code[0].name }} 
    <h2>{{ code[0].num }}</h2>
    <p> {{ code[0].created | date: 'medium'}}</p>
  </ion-label>
  </ion-item>

   <ion-item-options side="end">

      <ion-item-option color="danger" (click)="delete(code[0])">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>

      <ion-item-option color="grey" (click)="brute(code[0])">
      <ion-icon slot="icon-only" name="redo"></ion-icon>
      </ion-item-option>
 
      <ion-item-option (click)="view(code[0])">
      <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-item-option>
 
    </ion-item-options>

  </ion-item-sliding>
  </ion-list>
  

</ion-content>
